# App
APP_NAME=MyNutrition
APP_TITLE=MyNutrition
APP_COLOR_PRIMARY="#6699CC"
APP_MODE=spa

# API
API_URL=http://cms.test/api/v1

# Oauth2
OAUTH_CLIENT_ID=2
OAUTH_CLIENT_SECRET=MCWNzOe4iuixLFzY2GtLLHzYBojccSrZpuuLxDep


# Progress Bar
PROGRESS_BAR_COLOR="#6699CC"
PROGRESS_BAR_HEIGHT=4px

# Page Loading Indicator
# https://nuxtjs.org/api/configuration-loading-indicator/
# circle, cube-grid, fading-circle, folding-cube, chasing-dots, nuxt, pulse, rectangle-bounce, rotating-plane, three-bounce, wandering-cubes
PAGE_LOADING_INDICATOR_NAME=folding-cube
PAGE_LOADING_INDICATOR_COLOR="#6699CC"
PAGE_LOADING_INDICATOR_BACKGROUND=white

# Loading Indicator
# Optional. Set to 'false' to disable
LOADING_INDICATOR_ON=true
# https://github.com/tobiasahlin/SpinKit
# sk-plane, sk-chase, sk-bounce, sk-wave, sk-pulse, sk-flow, sk-swing, sk-circle, sk-circle-fade, sk-grid, sk-fold, sk-wander
LOADING_INDICATOR=sk-chase

