:root {
    --nav-top-height: 3rem;
    --nav-left-width: 7rem;

    /* Brand */
    --color-brand-primary: #2B6CB0;
    --color-brand-secondary: #EBF8FF;

    /* Backgrounds */
    --color-background-primary: #121212;
    --color-background-secondary: white;

    /* Navbars */
    --color-nav-primary: black;

    /* Forms */
    --color-form-primary: #333333;

    /* Inputs */
    --color-input-background-primary: #444444;
    --color-input-border-primary: #585858;

    /* Indicators */
    --color-indicator-primary: white;

    /* Icons */
    --color-icon-primary: red;


    /* Text */
    --color-text-primary: white;
    --color-text-secondary: black;

    /* Button */
    --color-button-primary: #2D3748;
    --color-button-primary-hover: white;

    --color-button-secondary: #EDF2F7;
    --color-button-secondary-hover: #2D3748;

    color: white;
}

@tailwind base;
body {
    background-color: var(--color-background-primary)
}

input {
    background-color: var(--color-input-background-primary);
    border: solid 1px var(--color-input-border-primary);
}

nav {
    background-color: var(--color-nav-primary);
}

form {
    background-color: var(--color-form-primary);
}

button{
    background-color: var(--color-button-primary);
}
button:hover{
    background-color: var(--color-button-primary-hover);
}

h1 {
    @apply text-6xl;
}

h2 {
    @apply text-5xl;
}

h3 {
    @apply text-4xl;
}

h4 {
    @apply text-3xl;
}

h5 {
    @apply text-2xl;
}

h6 {
    @apply text-lg;
}

@tailwind components;
@tailwind utilities;
