:root {

    --nav-top-height: 3rem;
    --nav-left-width: 7rem;

    /* Brand */
    --color-brand-primary: #2B6CB0;
    --color-brand-secondary: #EBF8FF;

    /* Backgrounds */
    --color-background-primary: #212121;
    --color-background-secondary: white;

    /* Headers */
    --color-header-background-primary: #212121;

    /* Navbars */
    --color-nav-primary: #212121;

    /* Forms */
    --color-form-primary: #333333;

    /* Inputs */
    --color-input-background-primary: #444444;
    --color-input-border-primary: #585858;

    /* Indicators */
    --color-indicator-primary: white;

    /* Icons */
    --color-icon-primary: #63B3ED;


    /* Text */
    --color-text-primary: white;
    --color-text-secondary: black;

    /* Button */
    --color-button-color-primary: white;
    --color-button-background-color-primary: #2C5282;
    --color-button-background-color-primary-hover: #2B6CB0;

    --color-button-color-secondary: #EDF2F7;
    --color-button-background-color-secondary-hover: #2D3748;

    color: white;
}

@tailwind base;
body {
    background-color: var(--color-background-primary)
}
main{
    min-height: calc(100vh - (64px + 80px + (30px * 2)));
    margin: var(--nav-top-height) 0 0 var(--nav-left-width)
}

input {
    background-color: var(--color-input-background-primary);
    border: solid 1px var(--color-input-border-primary);
}

nav {
    background-color: var(--color-nav-primary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

form {
    background-color: var(--color-form-primary);
}

button {
    background-color: var(--color-button-background-color-primary);
}

button:hover {
    background-color: var(--color-button-background-color-primary-hover);
}

header {
    background-color: var(--color-header-background-primary);
    height: var(--nav-top-height);
    padding: 0 0 0 var(--nav-left-width);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    @apply text-6xl;
}

h2 {
    @apply text-5xl;
}

h3 {
    @apply text-4xl;
}

h4 {
    @apply text-3xl;
}

h5 {
    @apply text-2xl;
}

h6 {
    @apply text-lg;
}

@tailwind components;
@font-face {
    font-family: 'RobotoCondensed';
    src: local('RobotoCondensed'), url(./../fonts/RobotoCondensed-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'Eczar';
    src: local('Eczar'), url(./../fonts/Eczar-Regular.ttf) format('ttf');
}

@tailwind utilities;
